@model Erk.DTO.Entities.Il
@{
    ViewData["Title"] = "IlGuncelle";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card shadow-lg">
    <div class="card-header bg-primary text-white">
        <h4 class="card-title text-center">İl Güncelleme</h4>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="form-group">
                <label for="IlAdi">İl Adı</label>
                <input type="text" class="form-control" id="IlAdi" name="IlAdi" value="@Model.IlAdi" required />
            </div>
            <button type="submit" class="btn btn-success mt-2">Güncelle</button>
            <a href="@Url.Action("Index", "Il")" class="btn btn-secondary mt-2">Geri Dön</a>
        </form>
    </div>
</div>

