
@{
    ViewData["Title"] = "_LayoutGiris";
}

<!doctype html>
<html lang="en" data-bs-theme="light">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home | Bootstrap demo</title>
    <!--favicon-->
    <link rel="icon" href="~/Giris/assets/images/favicon-32x32.png" type="image/png">

    <!--plugins-->
    <link href="~/Giris/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Giris/assets/plugins/metismenu/metisMenu.min.css">
    <link rel="stylesheet" type="text/css" href="~/Giris/assets/plugins/metismenu/mm-vertical.css">
    <!--bootstrap css-->
    <link href="~/Admin/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <!--main css-->
    <link href="~/Giris/assets/css/bootstrap-extended.css" rel="stylesheet">
    <link href="~/Giris/sass/main.css" rel="stylesheet">
    <link href="~/Giris/sass/dark-theme.css" rel="stylesheet">
    <link href="~/Giris/sass/responsive.css" rel="stylesheet">

</head>

<body>


    <!--authentication-->

    <div class="section-authentication-cover">
        <div class="">
            @RenderBody()
            <!--end row-->
        </div>
    </div>

    <!--authentication-->
    <!--plugins-->
    <script src="~/Giris/assets/js/jquery.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#show_hide_password a").on('click', function (event) {
                event.preventDefault();
                if ($('#show_hide_password input').attr("type") == "text") {
                    $('#show_hide_password input').attr('type', 'password');
                    $('#show_hide_password i').addClass("bi-eye-slash-fill");
                    $('#show_hide_password i').removeClass("bi-eye-fill");
                } else if ($('#show_hide_password input').attr("type") == "password") {
                    $('#show_hide_password input').attr('type', 'text');
                    $('#show_hide_password i').removeClass("bi-eye-slash-fill");
                    $('#show_hide_password i').addClass("bi-eye-fill");
                }
            });
        });
    </script>

</body>

</html>

